<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl ||'./assets/user.png'}}" alt="{{member.knownAs}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username) ">
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}},{{member.country}}</p>
                </div>
               
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Actve:</strong>
                    <p>{{member.lastActive | date:'short'}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date: "dd MMM yyyy"}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
                <mat-tab-group>
                    <mat-tab label="About">
                        <div>
                            <h4>About {{member.knownAs}}</h4>
                            <p>{{member.introduction}}</p>
                        </div>
                    </mat-tab>
                    <mat-tab label="Photos">
                        <app-gallery [images]="images"></app-gallery>
                    </mat-tab>
                    <mat-tab label="Messages">
                        <app-member-messages [messages]="messages" [member]="member"></app-member-messages>
                    </mat-tab>
                </mat-tab-group>
    </div>
</div>