
<div class="mat-typography" style="margin-top: 64px;">
    <div *ngIf="!registerMode" style="text-align: center;">
        <mat-card class="mat-elevation-z4" style="display: inline-block; padding: 32px;">
            <mat-card-title style="font-size: 2.5rem;">Find your match</mat-card-title>
            <mat-card-content>
                <p style="font-size: 1.25rem;">Come on in to view your matches... All you need to do is sign up!</p>
            </mat-card-content>
            <mat-card-actions style="margin-top: 24px;">
                <button mat-raised-button color="primary" (click)="registerToggle()" style="margin-right: 16px;">Register</button>
                <button mat-raised-button color="accent">Learn more</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div *ngIf="registerMode" style="display: flex; justify-content: center; margin-top: 32px;">
        <mat-card class="mat-elevation-z4" style="width: 400px;">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </mat-card>
    </div>
</div>
