

<div style="text-align: center; margin-top: 32px;" *ngIf="pagination">
    <h2>Your Matches - {{pagination.totalItems || 0}} found</h2>
</div>

<mat-card class="mat-elevation-z4" style="margin: 32px auto; max-width: 950px;">
    <mat-card-content>
        <form #form="ngForm" style="display: flex; flex-wrap: wrap; gap: 20px; align-items: center; justify-content: center;" (ngSubmit)="loadMember()" autocomplete="off">
            <mat-form-field appearance="outline" style="width: 120px;">
                <mat-label>Age from</mat-label>
                <input matInput type="number" name="minAge" [(ngModel)]="userParams.minAge">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 120px;">
                <mat-label>Age to</mat-label>
                <input matInput type="number" name="maxAge" [(ngModel)]="userParams.maxAge">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 140px;">
                <mat-label>Show</mat-label>
                <mat-select name="gender" [(ngModel)]="userParams.gender">
                    <mat-option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Apply Filters</button>
            <button mat-raised-button color="accent" (click)="resetFilters()" type="button">Reset Filters</button>
            <span style="flex: 1 1 auto;"></span>
            <button mat-button color="primary" [disabled]="userParams.orderBy==='lastActive'" (click)="userParams.orderBy='lastActive'; loadMember()">Last Active</button>
            <button mat-button color="primary" [disabled]="userParams.orderBy==='created'" (click)="userParams.orderBy='created'; loadMember()">Newest Members</button>
        </form>
    </mat-card-content>
</mat-card>

<div style="display: flex; flex-wrap: wrap; gap: 24px; justify-content: center;">
    <ng-container *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </ng-container>
</div>

<div style="display: flex; justify-content: center; margin-top: 32px;" *ngIf="pagination">
    <mat-paginator
    [length]="pagination.totalItems || 0"
    [pageSize]="pagination.itemsPerPage || 5"
    [pageIndex]="(pagination.currentPage || 1) - 1"
        (page)="pageChanged($event)">
    </mat-paginator>
</div>