
<mat-toolbar color="primary" class="mat-elevation-z4" style="position: fixed; top: 0; left: 0; right: 0; z-index: 1000;">
  <span style="font-size: 1.5rem; font-weight: 500; margin-right: 32px;">
    <a routerLink="/" style="color: white; text-decoration: none;">Dating App</a>
  </span>
  <span style="flex: 1 1 auto;"></span>
  <ng-container *ngIf="accountService.currentUser$|async as user; else loginForm">
    <button mat-button routerLink="/members">Matches</button>
    <button mat-button routerLink="/lists">Lists</button>
    <button mat-button routerLink="/messages">Messages</button>
    <button mat-button *appHasRole='["Admin", "Moderator"]' routerLink="/admin">Admin</button>
    <button mat-button routerLink="/errors">Errors</button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/member/edit">Edit Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="userMenu" style="margin-left: 16px;">
      <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}" style="width: 32px; height: 32px; border-radius: 50%; vertical-align: middle; margin-right: 8px;">
      Welcome {{user.knownAs || (user.username | titlecase)}}
    </button>
  </ng-container>
  <ng-template #loginForm>
    <form #loginForm="ngForm" style="display: flex; align-items: center; gap: 8px;" (ngSubmit)="login()" autocomplete="off">
      <mat-form-field appearance="outline" style="width: 160px;">
        <mat-label>Username</mat-label>
        <input matInput name="username" [(ngModel)]="model.username" type="text" placeholder="Username" required>
        <mat-error *ngIf="!model.username">Please enter a Username</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 160px;">
        <mat-label>Password</mat-label>
        <input matInput name="password" [(ngModel)]="model.password" type="password" placeholder="Password" required>
        <mat-error *ngIf="!model.password">Please enter a Password</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" [disabled]="!model.username || !model.password">Login</button>
    </form>
  </ng-template>
</mat-toolbar>
