<div class="row">
    <div class="col-2 img-wrapper" *ngFor="let photo of member.photos">
        <img src="{{photo.url}}" alt="{{photo.url}}" class="img-thumbnail p-1" [class.not-approved]="!photo.isApproved">

        <div class="text-center" *ngIf="photo.isApproved">
            <button [disabled]="photo.isMain ||photo.isApproved" (click)="setMainPhoto(photo)"
                [ngClass]='photo.isMain ? "btn-success active" :"btn-outline-success"' class="btn btn-sm">
                Main</button>
            <button [disabled]="photo.isMain" (click)="deletePhoto(photo.id)" class="btn btn-sm btn-danger"><i
                    class="fa fa-trash"></i></button>
        </div>
    </div>
</div>

<!-- Copy from Google website https://valor-software.com/ng2-file-upload/ -->

<div class="row mt-3">

    <div class="col-md-3">

        <h3>Add Photos</h3>

                <mat-form-field appearance="fill">
                    <mat-label>Select photo</mat-label>
                    <input type="file" (change)="onFileSelected($event)" matInput />
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="uploadPhoto()" [disabled]="!selectedFile">Upload</button>
    </div>

    <!-- Upload queue removed for Angular Material version -->

</div>